body {
    background-image: url("./santorini-island.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    margin: 0;
    padding: 0;
    height: 100vh; 
    font-family:young serif ;
    
}

.navbar {
  display: flex; 
  justify-content: space-between; 
  align-items: center; 
}

.logo {
  display: flex;
  align-items: center; 
  margin-top: 20px;
  margin-left: 30px;
}

.logo img {
  width: 50px; 
  height: 50px; 
  margin-right: 10px; 
}

.logo span {
  color: #ffffff;
  font-size: 20px;
  font-weight: bold;
}

.nav-links {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.nav-links li {
  display: inline;
  margin-right: 20px;
}

.nav-links a {
  text-decoration: none;
  color: #ffffff;
  font-weight: bold;
  position: relative;
}

.navbar ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.navbar li {
    display: inline;
    margin-right: 20px; 
    
}

.navbar a {
    text-decoration: none;
    color: #ffffff; 
    font-weight: bold;
    position: relative;
}


.navbar li a span {
  position: relative;
}

.navbar li a span::before {
  content: "";
  position: absolute;
  top: -5px;
  left: -10px;
  right: -10px;
  bottom: -5px;
  border-radius: 10px;
  background-color: rgba(255, 255, 255, 0.877);
  z-index: -1;
  transform: scaleY(0);
  transform-origin: bottom;
  transition: transform 0.3s cubic-bezier(0.25, 1, 0.5, 1), background-color 0.3s ease;
}

.navbar li a:hover span::before {
  transform: scaleY(1);
  background-color: rgba(255, 255, 255, 0.2);
}

.home{
    position: relative;
    width: 100%;
    min-height: 60vh;
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin-left: 30px;
  
}
.home .content{
    z-index: 888;
    color: white;
    width: 70%;
    margin-top: 30px;
    
}
.home .content h1{
    font-size: 4em;
    font-weight: 900;
    text-transform: uppercase;
    letter-spacing: 2px;
    line-height: 75px;
    margin-bottom: 0;
    margin-top: 30px;
}
.home .content h1 span{
    font-size: 1em;
    font-weight: 300
    
}
.home .content p{
    margin-bottom: 10px;
    margin-top: 0px;
    
}

button {
  position: relative;
  display: inline-block;
  cursor: pointer;
  outline: none;
  border: 0;
  vertical-align: middle;
  text-decoration: none;
  background: transparent;
  padding: 0;
  font-size: inherit;
  font-family: inherit;
  left: 30px;
}

button.learn-more {
  width: 12rem;
  height: auto;
}

button.learn-more .circle {
  transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
  box-shadow: 0 0 5px 1px white;
  position: relative;
  display: block;
  margin: 0;
  width: 3rem;
  height: 3rem;
  background: #33333371;
  border-radius: 1.625rem;
}

button.learn-more .circle .icon {
  transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
  position: absolute;
  top: 0;
  bottom: 0;
  margin: auto;
  background: #fff;
}

button.learn-more .circle .icon.arrow {
  transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
  left: 0.625rem;
  width: 1.125rem;
  height: 0.125rem;
  background: none;
}

button.learn-more .circle .icon.arrow::before {
  position: absolute;
  content: "";
  top: -0.29rem;
  right: 0.0625rem;
  width: 0.625rem;
  height: 0.625rem;
  border-top: 0.125rem solid #fff;
  border-right: 0.125rem solid #fff;
  transform: rotate(45deg);
}

button.learn-more .button-text {
  transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  padding: 0.75rem 0;
  margin: 0 0 0 1.85rem;
  color: rgba(255, 255, 255, 0.493);
  font-weight: 700;
  line-height: 1.6;
  text-align: center;
  text-transform: uppercase;
}

button:hover .circle {
  width: 100%;
  box-shadow: 0 0 10px 2px white;
}

button:hover .button-text {
  transform: translate(-1.7rem, 0);
}

button:hover .circle .icon.arrow {
  background: #fff;
  transform: translate(8.7rem, 0);
}

button:active .circle .icon.arrow {
  transform: translate(9.5rem, 0);
  transition: all 0.3s;
}

button:active .circle {
  transform: scale(0.9);
  transition: all 0.3s;
  box-shadow: 0 0 5px 0.5px white;
}

button:hover .button-text {
  color: #fff;
}

button:active .button-text {
  color: rgba(255, 255, 255, 0.459);
}

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Times New Roman', Times, serif;
}
body .container{
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}
.container{
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 50px 50px;
  padding: 100px 50px;
}
.container .card{
  position: relative;
  width: 250px;
  height: 300px;
  background:white;
  border-radius: 20px;
  box-shadow: 0 35px 80px rgba(0, 0, 0, 0.15);
  
}
.container .card:hover{
  height: 300px;
}
.container .card .imgbx{
  position: absolute;
  top: 20px;
  left: 25px;
  width: 200px;
  height: 150px;
  background: #333;
  border-radius: 12px;
  overflow: hidden;
  transition: 0.5s;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
}
.container .card:hover .imgbx{
  top: -100px;
  scale:0.75;
  box-shadow: 0 15px 45px rgba(0, 0, 0, 2);
  align-items: center; 
  justify-content: center;
}
.container .card .imgbx img{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.container .card .content{
  position: absolute;
  bottom: 0;
  top: 252px;
  width: 100%;
  padding: 0 30px;
  height: 35px;
  overflow: hidden;
  text-align: center;
  transition: 0.5s;
}
.container .card:hover .content{
  top: 50px;
  height: 250px;
}
.container .card .content h2{
  font-size: 1.5em;
  font-weight: 700;
  color: var(--clr);
  margin-bottom: 10px;
}
.container .card .content p{
  color: #333;
}
.container .card .content a{
  position: relative;
  top: 15px;
  display: inline-block;
  padding: 12px 25px;
  background-color: var(--clr);
  color: #ffffff;
  font-weight: 500;
  text-decoration: none;
  border-radius: 8px;
}